{%extends "blog/base.html" %}


{%block body%}

<div class="container">
    {% for element in object_list %}
    <h1><a href="./entry/{{element.id}}" class="btn btn-link"></h5>{{element.pk}}.
            {{ element.title|title}}</h1></a>
    <hr>
    {{element.author}} - {{element.updated_at}}
    {% if user.is_authenticated %}
    {% if element.author.id == user.id %}
    <a href="./entry/edit/{{ element.id }}" class="btn btn-warning">Edit Post</a>
    {% endif %}
    {% endif %}

    <div class="container-text">{{ element.entries|truncatechars:20}}</div>
    {% endfor %}
</div>

{%endblock%}