<h1> Welcome to Pokemons API {{title}}</h1>
<div id="table">
  <div class="tr" *ngFor="let pokemon of pokeStats; let i = index">
    <div class="td">
      <img #front src={{pokemon.sprites.front_default}}>
      <button id="btn" (click)="onClick(i)">{{pokemon.name|
        titlecase}}</button>
    </div>


    <div class="td">
      <div *ngIf="showDetailsIndex === i" >
        <div class="tr-details">

          <div class="td-details">
            Type 1: {{pokemon.types[0].type.name | titlecase}}
          </div>
          <div class="td-details" *ngIf="pokemon.types.length > 1">
            Type 2: {{pokemon.types[1].type.name | titlecase}}
          </div>
          <div class="tr-details" *ngFor="let element of pokemon.stats">
            <div class="td-details">
              {{element.stat.name}} -> {{element.base_stat}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
